/* imports */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather+Sans');

/* global */
body {
	/*background-color: rgb(142, 0, 0);*/
	background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/nh-apluto-wide-9-17-15-final_0.png); 
	background-attachment: fixed;
	background-position: center right;
  	color: rgb(100,100,100);
  	font-family: sans-serif;
  	line-height: 1.3;
}
header{
	padding: 40px;
	margin: 30px;
	background-color: rgba(54, 25, 25, .00004);
	border-color: blue;
	border-style: solid;
	border-width: 10px;
}
h1 {
  	font-family: 'Anton', sans-serif;
  	font-size: 35px;
  	margin-bottom: 10px;
	color: #b20505;
	text-align: center;
}
h2 {
  	font-weight: 700;
	text-align: center;
	color: #fff;
}
h3{
	text-align: center;
	color: white;
}
h4{
	text-align: left;
	color: black;
	font-size: 20px;
	font-family: 'Anton', sans-serif;
	
}
p{
	font-family: 'Merriweather Sans', sans-serif;
	color: gray;
	font-size: 18px;
	padding: 20px;
}


/* BOXES   */


.blue-background{
	padding: 10px;
	margin: 20px;
	background-color: #040428;
	border-color: yellow;
	border-style: solid;
	border-width: 5px;
}

.clear-box{
	padding: 10px;
	margin: 10px;
	border-left: red solid 5px;
	border-bottom: red solid 5px; 
	border-radius: 20px;
}
.clear-box p{
	padding: 5px;
}
.clear-box h3{
	padding-bottom: 20px;
    padding-top: 20px; 

}
/* SOLAR PANELS IMAGES */

.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}
.container img {
	height: 250px;
	width: 250px;
	margin: 2% auto;
}

.image-nasa img{
	width: 350px;
  	margin: 15%;
}
.radio-img img{
	margin: 20px;
	width: 250px;
}


/* grid */
@media ( min-width: 1024px ) {
	h1{
		font-size: 65px;
	}
	.image-nasa img{
		width: 400px;
  		margin: 15%;
	}
	.grid-wrapper{
		display: grid;
		grid-template-columns: 30% 30% 40%;
		grid-gap: 10px;
	}
	.image-nasa{
		grid-column: 3;
		grid-row: 1;

	}
	.background-info{
		grid-column: 1/3;
		grid-row: 1;
	}
	header{
		float: center;
		width: 95%;
	}

	#solar-panel-section{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		padding: 20px;
		margin: 20px;
	}
	#solar-panel-section img{
		width: 100%;

	}
	#solar-panel-section h2{
		grid-column: 1/3;
		grid-row: 1;
	}
	.intro-p{
		grid-column: 1/3;
		grid-row: 2;
	}
	.gallium{
		grid-column: 1/2;
		grid-row: 3;
	}
	.indium{
		grid-column: 2;
		grid-row: 3;
	}
	.solar-sphere{
		grid-column: 2;
		grid-row: 4;
	}
	.pumpkin{
		grid-column: 1;
		grid-row: 4;
	}
	#solar-panel-section .conclusion{
		grid-column: 1/3;
		grid-row: 7; 
	}

	#radio-reciever{
		display: grid;
		grid-template-columns: 60% 35%;
		grid-gap: 10px;
		padding: 20px;
		margin: 20px;
	}
	.radio-intro{
		grid-column: 1/3;
		grid-row: 1;
	}
	.radio-img{
		grid-column: 2;
		grid-row: 2/3;
	}
	.radio-img img{
		width: 100%;
		margin: 25% auto;
	}
	.results{
		grid-column: 1/2;
		grid-row: 2;
	}
  
}